<!DOCTYPE html>
<html lang="mk" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Add a new book</title>
</head>
<body>
<form action="/books/add" method="post">
  <input id="id" hidden="hidden" type="text" name="id" th:value="(${book} != null ? ${book.getId()} : 0)">
  <label for="title">Title</label>
  <input id="title" type="text" name="title" th:value="(${book} != null ? ${book.getTitle()} : '')" placeholder="Title">
  <br>
  <label for="isbn">Isbn</label>
  <input id="isbn" type="text" name="isbn" th:value="(${book} != null ? ${book.getIsbn()} : '')" placeholder="Isbn">
  <br>
  <label for="genre">Genre</label>
  <input id="genre" type="text" name="genre" th:value="(${book} != null ? ${book.getGenre()} : '')" placeholder="Genre">
  <br>
  <label for="year">Title</label>
  <input id="year" type="text" name="year" th:value="(${book} != null ? ${book.getYear()} : '')" placeholder="Year">
  <br>
  <select name="bookStoreId">
    <option th:if="${book} != null"
            th:selected="${book.getBookStore() != null}"
            th:each="bookStore : ${bookStores}"
            th:value="${bookStore.getId()}"
            th:text="${bookStore.getName()}">
    </option>
    <option th:if="${book} == null"
            th:each="bookStore : ${bookStores}"
            th:value="${bookStore.getId()}"
            th:text="${bookStore.getName()}">
    </option>
  </select>
  <br>
  <button id="submit" type="submit">Submit</button>
  <br>
  <a type="button" class="btn btn-primary" href="/books">Back</a>
</form>
</body>
</html>