<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Add new Author to Book</title>
  <style type = "text/css">
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding:3px 2px;
    }
    section {
      float: left;
      margin: 0 1.5%;
      width: 63%;
    }
    aside {
      float: right;
      margin: 0 1.5%;
      width: 30%;
    }
  </style>
</head>
<body>
<header>
  <h1>Select the Author to add to the Book </h1>
</header>
<form method="post" th:action="@{/authors}">
  <h2>Select author:</h2>
  <!-- Make changes to this code to dynamically display radio buttons for each author as in the example -->
  <input type="radio" name="authorId" th:value="${author.getId()}" th:text="${author.getName()} + ' ' + ${author.getSurname()}" th:each="author : ${authors}">
  <br/>
  <input type="hidden" th:value="${isbn}" name="bookIsbn">
  <input type='submit' value='Add author'>
</form>
<aside>
  <table>
    <tr>
      <!-- change to show selected book isbn -->
      <td><b>Book Isbn</b></td>
      <td><th:block th:text="${isbn}"></th:block></td>
    </tr>
  </table>
</aside>
</body>
</html>